
<%= f.hidden_field :problem_id, value: @problem.id %>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <% if f.object.errors.include?(:content) %>
    <p style="color: red;"><%= f.object.errors.full_messages_for(:content).first %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :answer %>
  <%= f.fields_for :question_choices do |ff| %>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= ff.radio_button :choice, true, class:"choice" %></span>
      </div>
      <%= ff.text_field :content, class: "w-75" %>
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><%= ff.link_to_remove "選択肢削除" %></span>
      </div>
      <% if ff.object.errors.include?(:content) %>
        <p style="color: red;"><%= ff.object.errors.full_messages_for(:content).first %>
      <% end %>
    </div>
  <% end %>
  <%= f.link_to_add "選択肢追加", :question_choices, class:"add_choice_btn" %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>
  <% if f.object.errors.include?(:description) %>
    <p style="color: red;"><%= f.object.errors.full_messages_for(:description).first %>
  <% end %>
</div>
<%= f.submit yield(:button_text), class: "btn btn-primary mt-1" %>
