<%= f.fields_for :questions do |ff| %>
  <div class="form-group">
    <%= ff.label :content %>
    <%= ff.text_field :content, class: 'form-control' %>
    <% if ff.object.errors.include?(:content) %>
      <p style="color: red;"><%= ff.object.errors.full_messages_for(:content).first %>
    <% end %>
  </div>
  <div class="form-group">
    <%= ff.label :answer,"解答（選択肢内容）" %>
    <%= ff.fields_for :question_choices do |fff| %>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><%= fff.radio_button :choice, true, class:"choice" %></span>
        </div>
        <%= fff.text_field :content, class: "w-75" %>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"><%= fff.link_to_remove "選択肢削除" %></span>
        </div>
        <% if fff.object.errors.include?(:content) %>
          <p style="color: red;"><%= fff.object.errors.full_messages_for(:content).first %>
        <% end %>
      </div>
    <% end %>
    <%= ff.link_to_add "選択肢追加", :question_choices, class:"add_choice_btn" %>
  </div>
  <div class="form-group">
    <%= ff.label :englishexample %>
    <%= ff.text_field :englishexample, class: 'form-control' %>
    <% if ff.object.errors.include?(:englishexample) %>
      <p style="color: red;"><%= ff.object.errors.full_messages_for(:englishexample).first %>
    <% end %>
  </div>
  <div class="form-group">
    <%= ff.label :japaneseexample %>
    <%= ff.text_field :japaneseexample, class: 'form-control' %>
    <% if ff.object.errors.include?(:japaneseexample) %>
      <p style="color: red;"><%= ff.object.errors.full_messages_for(:japaneseexample).first %>
    <% end %>
  </div>
  <%= ff.link_to_remove "質問削除" %>
  <hr size="5" color="black">
<% end %>
<div class="question_add">
  <%= f.link_to_add "質問追加", :questions, class:"add_question_btn d-block mt-3" %>
</div>
<%= f.submit yield(:button_text), class: "btn btn-primary mt-1 submit-btn" %>
