<%= f.hidden_field :try, value: @try %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :question_id, value: @question.id %>
<%= f.hidden_field :problem_id, value: @problem.id %>
<div class="form-group">
  <%= f.label :answer,"回答（最初の１文字のみ表示しています）" %>
  <%= f.text_field :answer,value: @question.answer.slice(0,1), class: 'form-control answer-font'%>
</div>
<% if QuestionAnswer.where(question_id: @question.id).where(try: @try).present? %>
  <%= f.submit yield(:button_text), class: "btn btn-primary mt-2",:disabled=>true %>
<% else %>
  <%= f.submit yield(:button_text), class: "btn btn-primary mt-2" %>
<% end %>
