<% provide(:title, '質問回答一覧') %>
<div class="mt-3">
  <h1 class="text-center">質問回答一覧</h1>
  <table class="table-bordered table-striped col-md-12">
    <tr>
      <th class="text-center">問題</th>
      <th class="text-center">回答</th>
      <th class="text-center">解答</th>
      <th class="text-center">回答結果</th>
      <th class="text-center">詳細</th>
    </tr>
  　<% @questions.each do |question| %>
      <% user_answer = current_user.question_answers.where(problem_id: @problem.id) %>
      <% last_try = user_answer.pluck(:try).last %>
      <% current_answer = user_answer.where(try: last_try) %>
      <% if current_answer.count == @problem.questions.count %>
        <% try = last_try %>
      <% else %>
        <% try = last_try - 1 %>
      <% end %>
      <tr>
        <td class="text-center"><%= question.content %></td>
        <td class="text-center">
          <% if current_user.question_answers.where(question_id: question.id).present? %>
            <% if @problem.question_style == 2 %>
              <% current_user.question_answers.where(question_id: question.id).find_by(try: try).answer %>
            <% else %>
              <% number = current_user.question_answers.where(question_id: question.id).find_by(try: try).answer.to_i %>
              <%= question.question_choices[number - 1].content %>
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <% if @problem.question_style == 2 %>
            <%= question.answer %>
          <% else %>
            <% question.question_choices.each_with_index do |choice, id| %>
              <% if choice.choice == true %>
                <%= choice.content %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td class="text-center">
          <% if current_user.question_answers.where(question_id: question.id).present? %>
          　<% if current_user.question_answers.where(question_id: question.id).find_by(try: try).correct == true %>
              正解
          　<% elsif current_user.question_answers.where(question_id: question.id).find_by(try: try).correct == false %>
              不正解
            <% end %>
          <% end %>
        </td>

        <td class="text-center"><%= link_to "詳細", problem_question_path(@problem,question), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </table>
</div>
