<% provide(:title, "質問編集") %>
<% provide(:button_text, '更新') %>
<div class="mt-3">
  <h1 class="text-center">質問編集</h1>
  <% if @problem.question_style == 2 %>
    <%= form_for(@question, url:problem_question_path(@problem,@question)) do |f| %>
      <%= render 'edit_question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@question, url:problem_question_path(@problem,@question)) do |f| %>
      <%= render 'edit_question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
<script>
  let update = <%= @update %>
  let number = <%= @number %>
  console.log($('input[type="radio"]:checked').attr("name"));
  if(update == false){
    $(`input[name="question[question_choices_attributes][${number}][choice]"]`).prop('checked', false);
  }
  $(document).on('click','input[type="radio"]',function(){
    $('input[type="radio"]').prop('checked', false);
    $(this).prop('checked', true);
  });

  $('.submit-btn').on("click",function(e){
    let count;
    count = $('.fields:visible').find('.choice:checked').length;
    if(count == 0){
      alert("解答となる選択肢にチェックがはいっていません。");
      return false;
    }
  });
</script>
