<% provide(:title, "質問一括編集") %>
<% provide(:button_text, '更新') %>
<div class="mt-3 mb-5">
  <h1 class="text-center">質問一括編集</h1>
  <% if @problem.question_style == 2 %>
    <%= nested_form_for(@problem, url:update_all_problem_questions_path(@problem)) do |f| %>
      <%= render 'question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@problem, url:update_all_problem_questions_path(@problem)) do |f| %>
      <%= render 'question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
<input name="number_json" type="hidden" value=<%= @number %> class='number_json'/>
<input name="update_json" type="hidden" value=<%= @update_number %> class='update_json'/>
<script>
  
  $(function(){
    $('.question_add').find(".add_question_btn").remove();
    let update = <%= @update %>
    if(update == false){
      let number_json = $('.number_json').val();
      let number = JSON.parse(number_json);
      let update_json = $('.update_json').val();
      let update = JSON.parse(update_json);
      $('input[name$="[_destroy]"]').val("false");
      $.each(number, function(index, value) {
        if(value != update[index]){
          $(`input[name="problem[questions_attributes][${index}][question_choices_attributes][${value}][choice]"]`).prop('checked', false);
        }
      });
    }
  });

</script>
