<% provide(:title, "質問一括編集") %>
<% provide(:button_text, '更新') %>
<div class="mt-3 mb-5">
  <h1 class="text-center">質問一括編集</h1>
  <% if @problem.question_style == 2 %>
    <%= nested_form_for(@problem, url:update_all_problem_questions_path(@problem)) do |f| %>
      <%= render 'question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@problem, url:update_all_problem_questions_path(@problem)) do |f| %>
      <%= render 'question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
<input name="number_json" type="hidden" value=<%= @number %> class='number_json'/>
<input name="update_json" type="hidden" value=<%= @update_number %> class='update_json'/>
<script>
  let update = <%= @update %>
  if(update == false){
    let number_json = $('.number_json').val();
    let number = JSON.parse(number_json);
    let update_json = $('.update_json').val();
    let update = JSON.parse(update_json);
    $.each(number, function(index, value) {
      if(value != update[index]){
        $(`input[name="problem[questions_attributes][${index}][question_choices_attributes][${value}][choice]"]`).prop('checked', false);
      }
    });
  }
  $(document).on('click','input[type="radio"]',function(){
    $(this).parents(".fields").find('input[type="radio"]').prop('checked', false);
    $(this).prop('checked', true);
  });
  $('.question_add').find(".add_question_btn").remove();
  // let choice_count = {};
  $('.submit-btn').on("click",function(e){
    let choice_count = {};
    $(".container").children(".mt-3").children(".edit_problem").children(".fields:visible").each(function(index, element){
      each_count = $(element).find('.fields:visible').find('.choice:checked').length;
      if(each_count == 0){
        choice_count[index+1] = each_count;
      }
    });

    if(Object.keys(choice_count).length > 0){
      alert_statement = []
      $.each(choice_count,function(index, element){
        alert_statement.push(index + '番目の質問の解答となる選択肢にチェックがはいっていません。');
      });
      statement = alert_statement.join("\n");
      alert(statement);
      return false;
    }
  });
  // return true;
</script>
