<% provide(:title, '質問一覧') %>
<div class="mt-3">
  <h1 class="text-center">質問一覧</h1>
  <% if @problem.released == false %>
    <div class="mb-4 d-flex">
      <%= link_to "質問追加", new_problem_question_path(@problem), class: "btn btn-success mr-2" %>
      <% if @problem.questions.count >=1 %>
        <%= link_to "質問一括編集", edit_all_problem_questions_path(@problem), class: "btn btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <p>質問の編集・追加は問題未公開時のみ可能です。</p>
  <% end %>
  <table class="table-bordered table-striped col-md-12">
    <tr>
      <th class="text-center">問題</th>
      <th class="text-center">解答</th>
      <% if @problem.released == false %>
        <th class="text-center">編集</th>
        <th class="text-center">削除</th>
      <% else %>
        <th class="text-center">詳細</th>
      <% end %>
    </tr>
  　<% @questions.each do |question| %>
      <tr>
        <td class="text-center"><%= question.content %></td>
        <td class="text-center">
          <% if @problem.question_style == 2 %>
            <%= question.answer %>
          <% else %>
            <% question.question_choices.each_with_index do |choice, id| %>
               <% if choice.choice == true %>
                 <%= id + 1 %>
               <% end %>
            <% end %>
          <% end %>
        </td>
        <% if @problem.released == false %>
          <td class="text-center"><%= link_to "編集", edit_problem_question_path(@problem,question), class: 'btn btn-primary' %></td>
          <td class="text-center">
            <%= link_to "削除", problem_question_path(@problem,question) , method: :delete, class: 'btn btn-danger',data: { confirm: "質問を消去してもいいですか？" } %>
          </td>
        <% else %>
          <td class="text-center"><%= link_to "詳細", problem_question_path(@problem,question), class: 'btn btn-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
