
<% provide(:title, "質問追加") %>
<% provide(:button_text, '登録') %>
<div class="mt-3 mb-5">
  <h1 class="text-center">質問追加</h1>
  <% if @problem.question_style == 2 %>
    <%= nested_form_for(@problem, url:problem_questions_path(@problem)) do |f| %>
      <%= render 'question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@problem, url:problem_questions_path(@problem)) do |f| %>
      <%= render 'question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
<script>
  $(document).on('click','input[type="radio"]',function(){
    $(this).parents(".fields").find('input[type="radio"]').prop('checked', false);
    $(this).prop('checked', true);
  });
  // $(".question").children(".fields").not(".fields:last").remove();

  $(document).on('click','.add_question_btn',function(){
    $(this).prev(".fields").addClass('mt-3');
  });
  let count = <%= @count %>
  for (var i=0; i< count; i++) {
    $('input[name="problem[questions_attributes]['+ i +'][content]"]').parent().parent().remove();
  }

  let choice_count = {};
  $('.submit-btn').on("click",function(e){
    $(".container").children(".mt-3").children(".edit_problem").children(".fields:visible").each(function(index, element){
      each_count = $(element).find('.fields:visible').find('.choice:checked').length;
      if(each_count == 0){
        choice_count[index+1] = each_count;
      }
    });
    $(".question_add").children(".fields:visible").each(function(index, element){
      length = Object.keys(choice_count).length
      each_count = $(element).find('.choice:checked').length;
      if(each_count == 0){
        choice_count[length+1] = each_count;
      }
    });

    if(Object.keys(choice_count).length > 0){
      alert_statement = []
      $.each(choice_count,function(index, element){
        alert_statement.push(index + '番目の質問の解答となる選択肢にチェックがはいっていません。');
      });
      statement = alert_statement.join("\n");
      alert(statement);
    }
  });

</script>
