<% provide(:title, "質問追加") %>
<% provide(:button_text, '登録') %>
<div class="mt-3 mb-5">
  <h1 class="text-center">質問追加</h1>
  <% if @problem.question_style == 2 %>
    <%= nested_form_for(@problem, url:problem_questions_path(@problem)) do |f| %>
      <%= render 'question_form',f: f %>
    <% end %>
  <% else %>
    <%= nested_form_for(@problem, url:problem_questions_path(@problem)) do |f| %>
      <%= render 'question_choice_form',f: f %>
    <% end %>
  <% end %>
</div>
<script>
  
  $(function(){
    let count = <%= @count %>
    for (var i=0; i< count; i++) {
      $('input[name="problem[questions_attributes]['+ i +'][content]"]').parent().parent().remove();
    }
  });

</script>
