<table class="table-bordered col-md-12">
  <tr class="bg-primary text-white">
    <th class="text-center">No</th>
    <th class="text-center">公開日</th>
    <th class="text-center">質問一覧</th>
    <th class="text-center">公開状況</th>
    <th class="text-center">削除</th>
  </tr>
  　<% @problems.each do |problem| %>
      <tr>
        <td class="text-center"><%= problem.number %></td>
        <td class="text-center"><%= problem.released_on %></td>
        <td class="text-center"><%= link_to "質問一覧",problem_questions_path(problem) %></td>
        <td class="text-center">
          <% if problem.released == true %>
          　<%= link_to "非公開", released_problem_path(problem), method: :patch, class: 'btn btn-success',data: { confirm: "問題を非公開にしてもいいですか？" } %>
          <% elsif %>
            <%= link_to "公開", released_problem_path(problem), method: :patch, class: 'btn btn-primary',data: { confirm: "問題を公開してもいいですか？" }%>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to "削除", problem_path(problem) , method: :delete, class: 'btn btn-danger',data: { confirm: "問題を削除してもいいですか？" } %>
        </td>
      </tr>
    <% end %>
</table>
