<%= f.hidden_field :question_style, value: @question_style %>
<%= f.hidden_field :number, value: @count + 1 %>
<%= f.fields_for :questions do |ff| %>
  <%= render 'shared/error_messages', object: ff.object %>
  <div class="form-group">
    <%= ff.label :content %>
    <%= ff.text_field :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= ff.label :answer %>
    <%= ff.text_field :answer, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= ff.label :description %>
    <%= ff.text_area :description, class: 'form-control' %>
  </div>
<% end %>
<%= f.submit yield(:button_text), class: "btn btn-primary mt-1" %>
